<div class="row" style="margin-top: 20px; margin-left: 20px;">
  <div class="col-md-6 order-md-2 mb-4">
    <app-costs-list [costs]="plan.currentPlannedCosts" [listTitle]="'Wydatki bieżące'" [readonly]="false"></app-costs-list>
  </div>
  <!-- <div class="col-md-4 order-md-2 mb-4">
    <app-costs-list [costs]="plan.temporaryCosts" [listTitle]="'Wydatki tymczasowe'" [readonly]="true"></app-costs-list>
  </div>
  <div class="col-md-6 order-md-2 mb-4">
    <app-costs-list [costs]="plan.constPlannedCosts" [listTitle]="'Wydatki stałe'" [readonly]="true"></app-costs-list>
  </div> -->
</div>

